{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <style>
        input {
            display: block;
        }
    </style>
</head>

<body>
    <div class='container'>
        <h1>register</h1>
        {% for message in messages %}
        <div class="alert alert-secondary" role="alert">
            {{message}}
        </div>
        {% endfor %}
        <form method='post' action="{% url 'register' %}">
            {% csrf_token %}
            <input type='text' name='username' placeholder="username" required>
            <input type='text' name='fname' placeholder="first-name" required>
            <input type='text' name='lname' placeholder="last-name" required>
            <input type='email' name='email' placeholder="email" required>
            <input type='password1' name='password1' placeholder="password" required>
            <input type='password2' name='password2' placeholder="re enter password" required>
            <button type="submit">register</button>
        </form>
    </div>
    {% include 'footer.html' %}
</body>

</html>